<section class="bloc-section bloc-1 container mb-3 w-full">
  <div class="row no-gutters w-full">
    <div class="title-container" data-aos="fade-up" data-aos-delay="100">
      <div class="line"></div>
      <h2 class="title">Digitalisierung von KMU</h2>
      <div class="line"></div>
    </div>
    <div class="row">
      <div
        class="box col-lg-4 col-md-4 col-sm-12 mb-8"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img src="assets/images/image1.png" alt="Image 1" />
        <p class="card-category"></p>
        <p class="card-text">
          Jede unternehmerische Tätigkeit unterliegt unzähligen Regelungen. Der
          Digitalisierung von Ablage und Abläufen kann man nicht ausweichen -
          das sehen schon das <strong>Handelsgesetzbuch</strong> in Verbindung
          mit der <strong>Abgabenordnung</strong> (GoBD + Elster),
          <strong>SV-Meldeportal</strong> und eine Reihe weitere Systeme vor,
          die man zu nutzen verpflichtet ist.
        </p>
      </div>
      <div
        class="box col-lg-4 col-md-4 col-sm-12 mb-8"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img src="assets/images/image2.png" alt="Image 1" />
        <p class="card-category"></p>
        <p class="card-text">
          Wir konzentrieren uns darauf, insbesondere
          <strong>kleine und mittlere Unternehmen </strong> (KMU) kostengünstig
          und effektiv mit praktikablen Maßnahmen hierbei zu begleiten.
        </p>
      </div>
      <div
        class="box col-lg-4 col-md-4 col-sm-12 mb-8"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <img src="assets/images/image3.png" alt="Image 1" />
        <p class="card-category"></p>
        <p class="card-text">
          Eine <strong>Verfahrensdokumentation</strong> dokumentiert für Sie,
          wie Ihre Ablage und Abläufe organisiert sind. Gleichzeitig hilft
          dieser <strong>Leitfaden</strong> Ihnen im Alltag, die Übersicht zu
          behalten, bei der <strong>Integration</strong> von E-Mail, APPs,
          Softwarepaketen, Belegen, Quittungen und mehr aus vielen Quellen.
        </p>
      </div>
    </div>
  </div>
</section>
