<section-banner
  title="Kontaktieren Sie uns"
  description="Das Angebot richtet sich ausschließlich an gewerbliche Anwender, nicht an private Verbraucher."
></section-banner>
<section class="container">
  <div class="contact-info row" data-aos="fade-up" data-aos-delay="200">
    <h2>Kontaktinformationen</h2>
    <div class="info-item">
      <strong>Diensteanbieter</strong>: Coverflex Project UG
      (haftungsbeschränkt)
    </div>
    <div class="info-item">
      <strong>Handelsregister:</strong> Bad Homburg v.d.Höhe HRB 13287
    </div>
    <div class="info-item">
      <strong>Geschäftsführer</strong>: Dung Thanh Nguyen
    </div>
    <div class="info-item"><strong>Umsatzsteuer-ID</strong>: DE301151484</div>
    <div class="info-item">
      <strong>Postanschrift</strong>: Talstr. 2, 61381 Friedrichsdorf
    </div>
    <div class="info-item">
      <strong>Kontakt</strong>:
      <ul>
        <li>
          Telefon: <a href="tel:+06172952120">0 61 72 - 95 21 20 </a> (Nachricht
          hinterlassen)
        </li>
        <li>Telefax: (abgeschaltet)</li>
        <li>
          E-Mail:
          <a href="mailto:info&#64;coverflex.de">info&#64;coverflex.de</a>
        </li>
      </ul>
    </div>
  </div>
</section>
