.contact-info {
  margin: 20px;
  padding: 20px;
  border-radius: 25px;
  background-color: #364153;

  h2 {
    margin-bottom: 16px;
    color: #fff;
  }

  .info-item {
    margin-bottom: 12px;
    font-size: 16px;
    color: #d1d5dc;

    strong {
      color: #d1d5dc;
    }

    a {
      color: #007bff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 6px;
      }
    }
  }
}
