<section class="container">
  <div class="contact-info row" data-aos="fade-up" data-aos-delay="200">
    <h2>Online angebotene Inhalte:</h2>
    <div class="info-item">
      <strong
        >Coverflex <sup>&#174;</sup> Software, Coverflex
        <sup>&#174;</sup> Project</strong
      >
      <br />
      <small
        >Coverflex <sup>&#174;</sup> ist eine eingetragene Wortmarke (DPMA
        2040623)</small
      >
    </div>
    <div class="info-item">
      <strong>POSTWARE , PLZsrv</strong>
    </div>
    <div class="info-item">
      <strong>POWERflex, PFXplus</strong>
    </div>
    <div class="info-item">
      <strong
        >Diese WebSite ist Teil verschiedener Online-Angebote, die durch den
        Anbieter oder Dritte erbracht werden. Diese Online-Angebote richten sich
        keinesfalls an private Verbraucher.</strong
      >
    </div>
    <div class="info-item">
      Soweit sich das Angebot an Kunden oder Anwender richtet, sind damit
      ausschließlich <strong>gewerbliche Verwender</strong> zu verstehen.
      <br />
      Soweit sich das Angebot an Entwickler richtet, sind damit ebenfalls
      ausschließlich <strong> gewerbliche Verwender</strong> zu verstehen.
    </div>
    <div class="info-item">
      <strong>Datenschutzhinweise:</strong>
    </div>
    <div class="info-item">
      <ol>
        <li>
          <strong>1. Geltungsbereich</strong>
          <br />
          <span
            >Diese Datenschutzhinweise gelten für die Nutzung dieser Website
            durch gewerbliche Verwender. Private Verbraucher sind von der
            Nutzung dieser Website ausgeschlossen.</span
          >
        </li>
        <li>
          <strong>2. Verantwortliche Stelle</strong>
          <br />
          <span
            >Verantwortliche Stelle für die Erhebung, Verarbeitung und Nutzung
            Ihrer personenbezogenen Daten ist: Coverflex Project UG
            (haftungsbeschränkt), Talstraße 2, 61381 Friedrichsdorf, E-Mail:
            info&#64;coverflex.de.</span
          >
        </li>
        <li>
          <strong>3. Erhebung und Verarbeitung personenbezogener Daten</strong>
          <br />
          <span
            >Wir erheben und verarbeiten personenbezogene Daten von Ihnen, wenn
            Sie unsere Website nutzen. Dies umfasst:</span
          >
          <br />
          <span
            ><strong>- Nutzungsdaten</strong>: IP-Adresse, referierende
            Webadresse, Datum und Uhrzeit des Zugriffs</span
          >
        </li>
        <li>
          <strong>4. Zwecke der Verarbeitung</strong>
          <br />
          <span
            >Wir verarbeiten Ihre personenbezogenen Daten für die folgenden
            Zwecke:</span
          >
          <br />
          <span
            ><strong>- Bereitstellung der Website</strong>: Wir verwenden Ihre
            personenbezogenen Daten, um Ihnen die Website bereitzustellen und
            Ihnen die Nutzung der Funktionen der Website zu ermöglichen.</span
          >
        </li>
        <li>
          <strong>5. Rechtsgrundlage der Verarbeitung</strong>
          <br />
          <span
            >Die Rechtsgrundlage für die Verarbeitung Ihrer personenbezogenen
            Daten ist Art. 6 Abs. 1 lit. f DSGVO. Die Verarbeitung ist zur
            Wahrung unserer berechtigten Interessen erforderlich, nämlich zur
            Bereitstellung der Website, zur Bearbeitung von Kontaktanfragen und
            zur Verbesserung der Website.</span
          >
        </li>
        <li>
          <strong>6. Empfänger der personenbezogenen Daten</strong>
          <br />
          <span
            >Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter, es
            sei denn, dies ist zur Erfüllung unserer vertraglichen
            Verpflichtungen Ihnen gegenüber erforderlich oder wir sind
            gesetzlich dazu verpflichtet.</span
          >
        </li>
        <li>
          <strong>7. Speicherdauer</strong>
          <br />
          <span
            >Wir speichern Ihre personenbezogenen Daten so lange, wie dies zur
            Erfüllung der oben genannten Zwecke erforderlich ist. Danach werden
            Ihre personenbezogenen Daten gelöscht.</span
          >
        </li>
        <li>
          <strong>8. Ihre Rechte</strong>
          <br />
          <span
            >Sie haben folgende Rechte hinsichtlich Ihrer personenbezogenen
            Daten:</span
          >
          <br />
          <ol>
            <li>
              <strong>- Auskunftsrecht</strong>: Sie haben das Recht, Auskunft
              darüber zu verlangen, ob wir personenbezogene Daten über Sie
              verarbeiten. Wenn dies der Fall ist, haben Sie das Recht, Zugang
              zu diesen Daten und zu bestimmten Informationen zu erhalten, z. B.
              den Zwecken der Verarbeitung, den Kategorien der verarbeiteten
              Daten und den Empfängern der Daten.
            </li>
            <li>
              <strong>- Berichtigungsrecht</strong>: Sie haben das Recht, die
              Berichtigung unrichtiger oder unvollständiger personenbezogener
              Daten, die wir über Sie gespeichert haben, zu verlangen.
            </li>
            <li>
              <strong>- Löschungsrecht</strong>: Sie haben das Recht, die
              Löschung Ihrer personenbezogenen Daten zu verlangen, wenn die
              Voraussetzungen dafür erfüllt sind.
            </li>
            <li>
              <strong>- Einschränkung der Verarbeitung</strong>: Sie haben das
              Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen
              Daten zu verlangen, wenn die Voraussetzungen dafür erfüllt sind.
            </li>
            <li>
              <strong>- Widerspruchsrecht</strong>
              : Sie haben das Recht, der Verarbeitung Ihrer personenbezogenen
              Daten zu widersprechen, wenn die Voraussetzungen dafür erfüllt
              sind.
            </li>
            <li>
              <strong>- Beschwerderecht</strong>
              : Sie haben das Recht, sich bei einer Aufsichtsbehörde für
              Datenschutz zu beschweren, wenn Sie der Ansicht sind, dass die
              Verarbeitung Ihrer personenbezogenen Daten gegen die DSGVO
              verstößt.
            </li>
          </ol>
        </li>
        <li>
          <strong>9. Kontakt</strong>
          <br />
          <span
            >Wenn Sie Fragen zum Datenschutz haben, können Sie sich jederzeit an
            uns wenden: Coverflex Project UG (haftungsbeschränkt), Talstraße 2,
            61381 Friedrichsdorf, E-Mail: info&#64;coverflex.de.</span
          >
        </li>
        <li>
          <strong>10. Schlussbemerkung</strong>
          <br />
          <span
            >Bitte beachten Sie, dass lediglich technische Angaben bei unserem
            Service-Provider protokolliert werden. Darauf haben wir keinen
            Einfluss. Wir können Ihren Besuch nicht anhand Ihres Namens
            identifizieren und somit keine Auskünfte eteilen.</span
          >
          <br />
          <span
            >Wir werden diese Datenschutzhinweise von Zeit zu Zeit
            aktualisieren. Die neueste Version finden Sie immer auf unserer
            Website.</span
          >
        </li>
      </ol>
    </div>
  </div>
</section>
