<div class="container bloc-section">
  <div class="row no-gutter">
    <div class="title-container" data-aos="fade-up" data-aos-delay="100">
      <div class="line"></div>
      <h2 class="title">Unsere Entwicklung</h2>
      <div class="line"></div>
    </div>
  </div>

  <div class="timeline mb-4">
    <ng-container *ngFor="let item of timeLines; let i = index">
      <div class="box" ngClass="{{ i % 2 === 0 ? 'left' : 'right' }}">
        <div
          class="content"
          data-aos="fade-up"
          [attr.data-aos-delay]="(i + 1) * 200"
        >
          <h2>{{ item.time }}</h2>
          <p>{{ item.content }}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
