<div class="container bloc-section">
  <div class="row no-gutter">
    <div class="title-container" data-aos="fade-up" data-aos-delay="100">
      <div class="line"></div>
      <h2 class="title">Unsere Entwicklung</h2>
      <div class="line"></div>
    </div>
  </div>

  <div class="timeline mb-4">
    <div class="box left">
      <div class="content" data-aos="fade-up" data-aos-delay="200">
        <h2>1992</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
    <div class="box right">
      <div class="content" data-aos="fade-up" data-aos-delay="400">
        <h2>2005</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
    <div class="box left">
      <div class="content" data-aos="fade-up" data-aos-delay="600">
        <h2>2007</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
    <div class="box right">
      <div class="content" data-aos="fade-up" data-aos-delay="800">
        <h2>2012</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
    <div class="box left">
      <div class="content" data-aos="fade-up" data-aos-delay="1000">
        <h2>2015</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
    <div class="box right">
      <div class="content" data-aos="fade-up" data-aos-delay="1200">
        <h2>2024</h2>
        <p>
          Seit 1992 haben wir mit Coverflex Software unterschiedliche Lösungen
          erstellt. Über die Jahre haben sich Dinge verändert, Programme sind
          als APPs in das Internet gestellt und die Technik dahinter ist
          vielfältiger geworden. Heute betreiben wir oder unsere Partner
          einzelne Dienste als WebService oder als APP.
        </p>
      </div>
    </div>
  </div>
</div>
