<footer class="bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="image">
          <img
            src="../../../../assets/images/power-flex.png"
            width="100%"
            alt=""
          />
        </div>
        <div class="link my-2">
          Das Werkzeug für High-Performance Netzwerk- und Cloud-Apps mit DBMS -
          Datenbank-Managementsystem
        </div>
      </div>
      <div class="col-lg-3 col-md-3">
        <ul>
          <li class="link">
            <strong class="line-text">Diensteanbieter</strong>: Coverflex
            Project UG (haftungsbeschränkt)
          </li>
          <li class="link">
            <span class="line-text">Handelsregister</span>: Bad Homburg v.d.Höhe
            HRB 13287
          </li>
          <li class="link">
            <span class="line-text">Geschäftsführer</span>: Dung Thanh Nguyen
          </li>
          <li class="link">
            <span class="line-text">Umsatzsteuer-ID</span>: DE301151484
          </li>
          <div class="link">
            <span class="line-text">Postanschrift</span>: Talstr. 2, 61381
            Friedrichsdorf
          </div>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="link">Kontakt:</div>
        <div class="link">
          Telefon:
          <a href="tel:+06172952120" class="link">0 61 72 - 95 21 20</a>
          (Nachricht hinterlassen)
        </div>
        <div class="link">Telefax: (abgeschaltet)</div>
        <div class="link">E-Mail: info&#64;coverflex.de</div>
      </div>
      <div class="col-lg-3 col-md-3">
        <div class="img">
          <img
            src="../../../../assets/images/coverflex.png"
            width="100%"
            alt=""
          />
        </div>
        <div class="link mt-2">Coverflex Software 1992 - 2024</div>
        <div class="link">32 Jahre Erfahrung in der App-Entwicklung</div>
      </div>
    </div>
    <div class="under-line"></div>
    <div class="social flex justify-content-between align-items-center">
      <div class="text">(Coverflex ® Registry Applied 1992)</div>
      <div class="impressum flex gap-2">
        <div class="text">Impressum</div>
        <div class="text">Datenschutzinformation</div>
      </div>
    </div>
  </div>
</footer>
