.hero-section {
  height: 100%;
  background: #1e2939;
  // width: 100vw;
  &-image {
    background-image: url("src/assets/images/back-ground-main.jpeg");
    height: 100%;
    // width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 20px 20px 60px;
    width: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 767px) {
      width: 100%;
      padding: 30px;
    }

    .title {
      font-size: 3rem;
      font-weight: bold;
      color: #fff;

      @media screen and (max-width: 768px) {
        font-size: 1.5rem;
        white-space: normal;
        word-wrap: break-word;
      }
    }
    .description {
      font-size: 1.25rem;
      color: #d1d5dc;
      margin-bottom: 3rem;

      @media screen and (max-width: 768px) {
        font-size: 1rem;
        white-space: normal;
        word-wrap: break-word;
      }
    }
  }
}
